.wrapper
  .grid_8.first.top
    .grid_4.first
      = render :partial => '/partials/datagrid', :locals => {:links=>["show","edit"],:objects => @stations, :fild_names=> [:name, :product_id, :standard_id,:description, :is_enabled]}
    .grid_2
      .panel.padding3
        %a.button.background_orange.white{:href => new_p_config_station_path}
          = t :new
        %a.button.background_gray.gray{:href => configurations_path}
          = t :configuration