%section#content
  .wrapper
    %section.grid_8.first
      %h4
        ="Medico: #{current_user.login}"
      .columns
        .grid_4.first
          %fieldset.panel
            %table
              %tr
                %td
                  =@cite.user.login
              %tr
                %td
                  =@cite.patient.name
              %tr
                %td
                  =@cite.date_cite