/* Menu Config */
#showConfig{
  cursor:pointer;
}

#showConfig:hover{
  opacity:0.3;
}

.menuImg{
  width:70px;
  height:72px;
  background:transparent url(/images/d02/icons/menuImg.png) no-repeat center center;
  cursor: pointer;
}

/* Init */
.menu-config{
  position: fixed;
  background:#D4D4D4;
  cursor: default;
}

.menu-config a:hover{
  background: #2D75A3;
  cursor: pointer;
}

.menu-config-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/* - Horizontal -*/
.menu-config-horizontal {
  width: 100%;
  height: 120px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}
 
.menu-config-horizontal a {
  float: left;
  width: 18%;
  height: 100%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
  position: relative;
}
 
.menu-config-bottom {
  bottom: -120px;
}

.menu-config-bottom.menu-config-open {
    bottom: 0px;
}

/* Transitions */
.menu-config,
.menu-config-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}