#scheduler_here.panel{:class => "dhx_cal_container", :style=>'width:auto; height:450px;'}
  .dhx_cal_navline
    .dhx_cal_prev_button
    .dhx_cal_next_button
    .dhx_cal_date{:style => "left:115px;"}
    .dhx_cal_tab{:name => "day_tab", :style => "left:180px;"}
    .dhx_cal_tab{:name => "week_tab", :style => "left:115px;"}
    .dhx_cal_tab{:name => "month_tab", :style => "left:50px;"}
  .dhx_cal_header{:style => "margin:30px 0px 0px 0px;"}
  .dhx_cal_data{:style =>"margin:30px 0px 0px 0px;"}
.clear