.action-button {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-indent: -999em;
  outline: none !important;
  /* IE7 hack */
  zoom: 1;
  *display: inline;
}

.action-button span {
  margin-top: 0px;
  display: block;
  width: 20px;
  height: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

.action-button span.list {
  margin-top: 0px;
}

.action-button span.add {
  background: transparent url(/images/d02/icons/add.png) no-repeat center center;
}

.action-button span.pencil {
  background: transparent url(/images/d02/icons/pencil.png) no-repeat center center;
}

.action-button span.magnifier {
  background: transparent url(/images/d02/icons/magnifier.png) no-repeat center center;
}

.action-button span.key {
  background: transparent url(/images/d02/icons/key.png) no-repeat center center;
}

.action-button span.operators {
  background: transparent url(/images/d02/icons/operators.png) no-repeat center center;
}

.action-button span.page-copy {
  background: transparent url(/images/d02/icons/page_copy.png) no-repeat center center;
}

.action-button span.accept {
  background: transparent url(/images/d02/icons/accept.png) no-repeat center center;
}

.action-button span.exclamation-red {
  background: transparent url(/images/d02/icons/exclamation-red.png) no-repeat center center;
}

.action-button span.help {
  background: transparent url(/images/d02/icons/help.png) no-repeat center center;
}

.action-button span.connect {
  background: transparent url(/images/d02/icons/connect.png) no-repeat center center;
}

.action-button span.cross {
  background: transparent url(/images/d02/icons/cross.png) no-repeat center center;
}

.action-button span.delete {
  background: transparent url(/images/d02/icons/delete.png) no-repeat center center;
}
