.action-button {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-indent: -999em;
  outline: none !important;
  /* IE7 hack */
  zoom: 1;
  *display: inline;
}

.action-button span {
  margin-top: 0px;
  display: block;
  width: 20px;
  height: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

.action-button span.list {
  margin-top: 0px;
}

.action-button span.add {
  background: transparent url(/images/d02/icons/add.png) no-repeat center center;
}

.action-button span.pencil {
  background: transparent url(/images/d02/icons/pencil.png) no-repeat center center;
}
