/* Text */
.blue{
  color:#4A96C4;
}

.royal_blue{
  color: #246e99;
}

.sky_blue{
  color: #afe8fd;
}

.white{
  color:white;
}

.black{
  color: black;
}

.aqua{
  color:#00FFFF;
}

.gray_clear{
  color:#f7f7f7;
}

.gray{
  color:gray;
}

.orange{
  color:#ef9c00;
}

/* Backgrounds */
.background_blue{
  background-color: #4A96C4;
}

.background_royal_blue{
  background-color: #246e99;
}

.background_sky_blue{
  background-color: #afe8fd;
}

.background_white{
  background-color:white;
}

.background_aqua{
  background-color:#00FFFF;
}

.background_gray_clear{
  background-color:#f7f7f7;
}

.background_black{
  background-color:black;
}

.background_gray{
  background-color: #D4D4D4;
}

.background_orange{
  background:#ef9c00;
}

.background_red_gradient{
  background: -moz-linear-gradient(top,  #83061D 0%,  #CB4153 80%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #83061D), color-stop(0.8, #CB4153));
}

