.grid_8
  .grid_8.first
    //Menu Config
    .float_left.top
      %img{:src => "images/d02/icons/doctor.png", :id => "showConfig"}
      = render :partial => "/partials/menu_config"
  .grid_3.first.top.top
