//Esta web debde de cargar con java para estar actualizando en automatico
//Por demo solo se crea el html
.wrapper.top
  .grid_8.padding1
    //Line
    %h1.background_gray_clear
      = "Lineal"
    %br/
    .left_graph.float_left
    #slider
      %ul
        - @type_line.each do |working_day|
          = render :partial => "partials/grids_manager", :locals => {:working_day => working_day}
    .right_graph.float_left
  
  //.grid_8.panel.padding1.background_gray_clear.top
  //  #slider.float_left
  //    .graphs
  .clear
#push

:javascript
  $(document).ready(function(){
    //Load Values
    load_values();

    // Slide Graphics
    function load_values(){
      slideCount = $('#slider ul li').length;
      slideWidth = $('#slider ul li').width();
      slideHeight = $('#slider ul li').height();
      sliderUlWidth = slideCount * slideWidth;

      $('#slider').css({ width: slideWidth, height: slideHeight });
      $('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });
      $('#slider ul li:last-child').prependTo('#slider ul');
    }

    function moveLeft() {
      $('#slider ul').animate({
        left: + slideWidth
      }, 200, function () {
          $('#slider ul li:last-child').prependTo('#slider ul');
          $('#slider ul').css('left', '');
      });
    };

    function moveRight() {
      $('#slider ul').animate({
        left: - slideWidth
      }, 200, function () {
          $('#slider ul li:first-child').appendTo('#slider ul');
          $('#slider ul').css('left', '');
      });
    };

    $('.left_graph').live("click", function () { moveLeft(); });
    $('.right_graph').live("click", function () { moveRight(); });
  })