.wrapper.top
  //Lineal
  %h1.bold
    = "Lineal"
  %hr/
  .left_graph.float_left
  #slider.float_left
    %ul
      - @type_line.each do |working_day|
        %li{:working_day_id => working_day.id}
          = render :partial => "partials/grids_manager", :locals => {:working_day => working_day}
  .right_graph.float_right
  
  //Grahps
  .grid_5{:style => "margin:0 0 0 54px"}
    .chart#select_graph{:style => "display:none"}
  
  .clear
%hr.top

.wrapper.top
  %h1
    = "Reportes"
  .grid_8.top
    .grid_2.first
      
  .clear
#push

:javascript
  $(document).ready(function(){
    // Carusel
    function moveLeft() {
      $('#slider ul').animate({
        left: + $('#slider ul li').width()
      }, 200, function () {
          $('#slider ul li:last-child').prependTo('#slider ul');
          $('#slider ul').css('left', '');
      });
    };

    function moveRight() {
      $('#slider ul').animate({
        left: - $('#slider ul li').width()
      }, 200, function () {
          $('#slider ul li:first-child').appendTo('#slider ul');
          $('#slider ul').css('left', '');
      });
    };

    $('.left_graph').live("click", function () { moveLeft(); });
    $('.right_graph').live("click", function () { moveRight(); });
    
    // Select Graph
    $('#slider ul li').live("click", function(){
      marked_station($(this));
      working_day_id = $(this).attr("working_day_id");
      select_graph = $("#select_graph").empty();
      $.get("home/select_graph",{working_day_id: working_day_id}).done(function(data){
        select_graph.show();
        select_graph.attr("class","bold ac top panel background_gray_clear");
        if(data.length > 0){
          select_graph.Chart(data, {type:"LineChart", chart_height:"300px", tooltips:false, showLegend:true, formatX:'%X'},{ top:20, right:30, bottom:20, left:30 });
        }else{
          select_graph.css("height", 300);
          select_graph.css("font-size", 26);
          select_graph.html("Grafica no Disponible");
          select_graph.css("line-height", "285px");
        }
      });
    });
    
    function marked_station(station){
      unmarked_station();
      station.attr("class","active");
    }
    
    function unmarked_station(){
      $('#slider ul').find(".active").removeClass("active");
    }
  })
