//Esta web debde de cargar con java para estar actualizando en automatico
//Por demo solo se crea el html
.wrapper.top
  %h1.bold
    = "Lineal"
  %hr/
  .left_graph.float_left
  #slider.float_left
    %ul
      - @type_line.each do |working_day|
        %li.background_black{:working_day_id => working_day.id}
          = render :partial => "partials/grids_manager", :locals => {:working_day => working_day}
  .right_graph.float_right
  
  .grid_6.panel.padding1.background_gray_clear.top
    .graphs
  .clear
#push

:javascript
  $(document).ready(function(){
    // -------------------
    // ---- Carusel ------
    // -------------------
     
    //Load Values
    load_values();

    // Slide Graphics
    function load_values(){
      slideWidth = $('#slider ul li').width();
    }

    function moveLeft() {
      $('#slider ul').animate({
        left: + slideWidth
      }, 200, function () {
          $('#slider ul li:last-child').prependTo('#slider ul');
          $('#slider ul').css('left', '');
      });
    };

    function moveRight() {
      $('#slider ul').animate({
        left: - slideWidth
      }, 200, function () {
          $('#slider ul li:first-child').appendTo('#slider ul');
          $('#slider ul').css('left', '');
      });
    };

    $('.left_graph').live("click", function () { moveLeft(); });
    $('.right_graph').live("click", function () { moveRight(); });
    
    // ----------------------------
    // ---- Click to Station ------
    // ----------------------------
    
    $('#slider ul li').live("click", function(){
      working_day_id = $(this).attr("working_day_id");
      $.post("home/select_graph",{working_day_id: working_day_id}).done(function(data){
        //Agregar a la grafica
      });
    });
  })