.wrapper.top
  .grid_8
    = errorFlash(flash)

#validate_status.widget.panel.padding1.background_gray_clear
  .content
    .form
      .clearfix
        = label_tag :product_id
        = select_tag :product_id, options_for_select(PConfig::Product.for_station(request.ip).map{|prod| [prod.name, prod.id]})
        

:javascript
  $(document).ready(function() {
    
    //Validate Status
    $("#validate_status").validateStatus();
  });

