.wrapper
  .grid_8.first
    %h4
      =@document.document_type
    -if @document.attach.present?
      %br
        =link_to "ver pdf", view_files_attach_path(@document.attach.id), :target=>:blank
    -else
      %br
      =link_to "Crear Document", build_pdf_document_path(@document.id)
