.wrapper.top
  .grid_8
    .grid_6.first
      = render :partial => '/partials/datagrid', :locals => {:links => ["edit"],:objects => @products, :fild_names=> [:id, :name, :product_type_id, :description, :is_enabled]}
    .grid_2
      .panel.padding3
        %a.button.background_orange.white{:href => new_p_config_product_path}
          = t :new
        %a.button.background_gray.gray{:href => configurations_path}
          = t :configuration
