%section#content
  .wrapper
    %section.grid_8.first
      %h4
        ="Medico: #{current_user.login}"
      .columns
        .grid_4.first
          %table.paginate.sortable.full
            %thead
              %tr{:style => "text-align:center;"}
                %th
                  = "Nombre"
                %th
                  = "Descripcion"
                %th
                  = "Fecha"
                %th
            %tbody
              - @consults.each do |consult|
                %tr
                  %td{:style => "text-align:center;"}
                    =consult.patient.name
                  %td{:style => "text-align:center;"}
                    =consult.description
                  %td{:style => "text-align:center;"}
                    =consult.created_at
                  %td
                    =link_to "ver", patient_consult_path(consult.patient_id,consult.id)
