.wrapper
  .grid_8.first
    %h4
      =flash[:warning]
    .grid_3.first
      .panel
        %table
          %thead
            %tr
              %td
                ="nombre: "
              %td
                =@consult.patient.name
            %tr{:style => "text-align:center;"}
              %td
                ="Descripcion: "
              %td
                =@consult.description
            %tr{:style => "text-align:center;"}
              %td
                ="Sub Total: "
              %td
                =@consult.sub_total
            %tr{:style => "text-align:center;"}
              %td
                ="Total: "
              %td
                =@consult.total
            %tr{:style => "text-align:center;"}
              %td
                =link_to  "imprimir", print_prenscription_patient_consult_path(@consult.patient_id,@consult.id) + ".pdf", :target=>:blank 
      = render :partial => '/partials/datagrid', :locals => {:objects => @consult.prescription.medicines, :fild_names=> [:medicine,:dose, :description]}
    
    .grid_3.first
      -if @consult.documents.blank?
        .panel
          =form_tag create_documents_patient_consult_path(@consult.patient_id,@consult.id) do
            .clearfix
              
              =select_tag "payment_method", options_for_select(PaymentMethod.is_enabled.sort_by(&:name).map{|s| [s.name,s.id]})
            .clearfix{:style=>"display:none", :id=>"services_id"}
              =select_tag "insurance", options_for_select(Insurance.by_medic(current_user.id).sort_by(&:name).map{|s| [s.name,s.id]})
            .clearfix
              %button.button.button-blue{:type => "submit"}
                = t :save    
      -else
        = render :partial => '/partials/datagrid', :locals => {:links=>["show"],:objects => @consult.documents, :fild_names=> [:date,:amount_due]}
      %table.full.style
        %thead
          %tr
            %th
              ="Service"
            %th
              ="Cost"
        %tbody
          -@consult.consult_services.each do |consult_service|
            %tr
              %td
                =consult_service.service.name
              %td.ac
                =consult_service.service.cost
:javascript
  $(document).ready(function(){
    $("#payment_method").change(function() {
      if($(this).find("option:selected").val() == "1"){
        $("#services_id").show();
      }else{
        $("#services_id").hide();
      }
    }) ;
  });
