.wrapper
  .grid_8.top
    .grid_4.first.top
      %table.style
        %thead
          %th
            ="Nombre"
          %th
            ="User"
          %th
            ="Description"
          %th
            ="Inicio"
          %th
            ="Fin"
          %th
          %th
        %body
          -@time_limits.each do |time_limit|
            %tr
              %td
                =time_limit.name
              %td
                =time_limit.user.name
              %td
                =time_limit.description
              %td
                =time_limit.start_date
              %td
                =time_limit.end_date
              %td
                =link_to t(:edit), edit_time_limit_path(time_limit.id)
              %td
                =link_to t(:show), time_limit_path(time_limit.id)
    .grid_2
      .panel
        =link_to t(:new), new_time_limit_path, :class=>"button"
    